<body>
  <div class="imgcontainer">
    <img src='https://cdn-images-1.medium.com/max/300/1*9U6m8MyiSdcIJ1Fes2kivw.png' alt="Avatar" class="avatar">
  </div>
  <form action="/login" id="login_form" class="form--login" method="post">

    <label><b>Username</b></label>
    <input type="text" name="user_name" id="user_name" placeholder="username" required>
    <label><b>Password</b></label>
    <input type="password" name="password" id="password" placeholder="password" required>

    <button type="submit">Log in</button>
  </form>
  <div class="container" style="background-color:#f1f1f1">
    <label class="psw">If your new </label><a href="/signup">SignUp</a>
  </div>
</body>
