<ul class="topnav">
  {{#if loggedIn}}
  <a href="/logout">{{name}}</a>

  {{else}}
        <a href="/login">login</a>
  {{/if}}
  <!-- <form action="/login">
  <input id='login' type="submit" class="right"  value="Login" />
</form>-->
  <button type="button" id="article_button" class="button--article" name="button">Add new article</button>
</ul>
